.body{
	margin :-5px;
	background:#03ADF1;	
}
.wrapper{
background:url("images/tick-tock-croc.8895ce2e.png");	
}
.nav1{
	background:#3498DB;
	height : 60px;
	padding-left:0px;
	padding-top:5px;
}
.contain{
	height:500px;
	
}

.aside{
	float :right;
	width :85%;
	padding :10px;
}
.left-bar{
	width : 15%;
	float : left;
	padding :7px;
	
	margin:0
}
input{
	 margin-bottom: 15px;
    line-height: 0px;
}
html{
	padding :2px;
}
.c2{
	color:white;
	padding :10px;
}
.c1{
	color:white;
	
}

.image_logo{
	  padding-bottom: 25px;
	 
	 width:110px;
	 height:60px;
}

li.right{
    text-align: right;
}
.padding-body{
	margin:0px;
}

.right_content{

margin-right:210px;
}
.panel-body{
	width:50px;
}
.left-box{
	width:250px;
	height:200px;
position:absolute;
  top:30%;
  left:30%;
  margin-top:-50px; /* this is half the height of your div*/  
  margin-left:-100px;
	
	  background: rgba(122, 130, 136, 0.2)!important;
	    border-radius: 25px;
   
   
}
.font-aw{
	opacity:0.3;
	padding:30%;
	padding-top:30px;
}
.inner{
	padding-top:50px;
	padding-left:20px;
}
.content_inner_div{
	padding-top:58px;
	padding-left:60px;
	color:white;
	font-weight:bold;
}
.right-box{
	width:250px;
	height:200px;
position:absolute;
  top:30%;
  left:60%;
  margin-top:-50px; /* this is half the height of your div*/  
  margin-left:-100px;
	 border-radius: 25px;
	  background: rgba(122, 130, 136, 0.2)!important;
}
.content_inner_div2{
	padding-top:50px;
	padding-right:52px;
	color:white;
	font-weight:bold;
}
.inner1{
	padding-top:57px;
	padding-right:25px;
}





